* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

body {
    min-height: 100%;
    height: 760px;
    width: 98dvw;
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

header {
    margin: auto;
    margin-top: 1em;
    display:  flex;
    flex-direction: row;
    width: 90%;
    height: 11%;
    background-color: darkgray;
}

#iconHolder {
    padding-right: 40%;
}

#logo {
    width: 15em;
    padding: 0.5em;
}

.links {
    color: rgb(50, 74, 154);
    padding: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.75em;
}

#topPart {
    width: 95%;
    margin: auto;
}

#topPart img {
    width: 100%;
}

#topDesc {
    color: white;
    text-align: center;
    font-size: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 20%;
    top: 50%;
}

#midSect {
    padding: 1em;
    width: 90%;
    margin: auto;
}

#midSect h1 {
    text-align: center;
    text-decoration: underline;
}

@media screen and (max-width: 430px) {

    body {
        font-size: 50%;
        width: 73dvw;
    }
    
    header {
        background-color: rgba(50, 74, 154, 0.75);
        width: 100%;
        margin-top: 0%;
        height: 5%;
    }

    #iconHolder {
        padding-top: 0.25em;
        padding-left: 0.25em;
        padding-right: 7em;
    }

    #logo {
        width: 11em;
        padding: 1em;
    }

    .links {
        margin-top: 0.6%;
        font-size: 1.5em;
        color: white;
    }

    #topPart {
        width: 100%;
    }

    #topDesc {
        font-size: 2.5em;
        top: 12%;
        left: 15%;
        font-weight: 100;
    }

    #midSect {
        width: 95%;
        padding: 0.5em;
        padding-top: 1em;
    }

    #midSect h1 {
        font-size: 2em;
    }
}