/* General Styling */

* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

html {
    background-color: rgb(251, 224, 150);
}

body {
    min-height: 100%;
    height: 760px;
    width: 100%;
    background-color: rgb(251, 224, 150);

    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

a {
    text-decoration: none;
}

header {
    margin: auto;
    display:  flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: rgb(133, 158, 236);
}

#iconHolder {
    padding-top: 0.75em;
    padding-right: 42%;
    padding-left: 1%;
}

#logo {
    width: 15em;
    padding: 0.5em;
}

.links {
    color: rgb(50, 74, 154);
    margin-top: 0.25em;
    padding: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 2em;
}

.links:hover {
    color: white;
    background-color: rgb(50, 74,154);
    transition-duration: 0.5s;
}

#selected:hover {
    color: rgb(184, 52, 100);
    background-color: rgb(50, 74, 154);
    transition-duration: 0.5s;
}

#selected {
    color: rgb(12, 118, 94);
    text-shadow: 0.1em 0.1em black;
}

footer {
    background-color: rgb(50, 74, 154);
    color: white;
    margin-top: 5%;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 2%;
}

footer article {
    width: 90%;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 3em;
}

#column1 {
    width: 45%;
    margin-top: 1%;
}

#column1 h3 {
    padding-bottom: 1%;
    font-weight: 500;
}

#column1 h5 {
    padding-top: 0.5%;
    font-weight: 300;
}

#column2 {
    margin-top: 1%;
    width: 40%;
}

#column2 p {
    font-size: 1.5em;
}

#column2 img {
    width: 30%;
    margin: auto;
    margin-top: 0.5em;
    background-color: white;
}

/* Home Page Styling */

#topPart {
    width: 100%;
    height: 50%;
    margin: auto;
}

#topPart img {
    width: 100%;
    height: 100%;
    opacity: 70%;
    object-fit: cover;
    object-position: center 70%;
}

#topDesc {
    color: white;
    text-align: center;
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
    line-height: 1.25em;
    position: absolute;
    left: 17%;
    top: 30%;
}

#topSubhead {
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    font-weight: 850;
    position: absolute;
    top: 55%;
    left: 25%;
}

#midSect {
    padding: 1em;
    width: 90%;
    margin: auto;
}

#midSect h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    text-decoration: dashed;
    padding-bottom: 0.75em;
    color: rgb(12, 118, 94);
}

#midSect p {
    font-size: 1.75em;
    font-family: 'Farsan', sans-serif;
    text-align: center;
    color: black;
    font-weight: 600;
    width: 95%;
    margin: auto;
}

#showcase {
    background-color: white;
    margin: auto;
    margin-top: 5%;
    padding: 1.5em;
    width: 90%;
    border: 0.15em solid black;
    box-shadow: 0.25em 0.25em  black;
    text-align: center;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1em 1em;
}

#showcase article {
    background-color: rgb(250, 208, 95);
    width: 30%;
    border: 0.1em solid black;
    box-shadow: 0.2em 0.2em  black;
    display: block;
}

#showcase article div {
    width: 100%;
}

#showcase article div img {
    width: 60%;
    margin: 1em;
    border: 0.25em solid black;
    box-shadow: 0.25em 0.25em black;
}

#showcase article div p {
    padding: 0.5em;
    width: 90%;
    margin: auto;
    font-size: 1em;
    font-weight: 650;
    font-family: 'Farsan', sans-serif;
}

/* Media Queries and Animations Styling */

@media screen and (max-width: 950px) {
    body {
        font-size: 75%;
        width: 100%;
    }
    
    header {
        background-color: rgb(118, 143, 224);
        width: 100%;
        margin-top: 0%;
        height: 7.5%;
    }

    #iconHolder {
        margin-top: -0.5%;
        padding-top: 0%;
        padding-left: 3%;
        padding-right: 42%;
    }

    #logo {
        width: 80%;
        padding: 2%;
    }

    .links {
        margin-top: -1%;
        font-size: 200%;
        font-weight: 400;
        color: white;
    }

    #selected {
        color: rgb(250, 208, 95);
        text-shadow: none;
    }

    #topPart {
        width: 100%;
    }

    #topDesc {
        font-size: 500%;
        top: 40%;
        left: 15%;
        font-weight: 650;
    }

    #topSubhead {
        font-size: 250%;
        top: 80%;
        left: 25%;
    }

    #midSect {
        width: 99%;
        padding: 1%;
        padding-top: 2%;
    }

    #midSect h1 {
        font-size: 350%;
        padding-bottom: 1%;
    }

    #midSect p {
        font-size: 200%;
        width: 95%;
        margin: auto;
        text-decoration: none;
    }

    #showcase {
        width: 80%;
        margin-top: 5%;
        
        display: block;
    }

    #showcase article {
        width: 80%;
        margin: auto;
        margin-bottom: 1em;
        background-color: rgb(12, 118, 94);
    }

    #showcase article div {
        width: 90%;
        margin: auto;
        padding: 1%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #showcase article div img {
        width: 40%;
        /* margin-left: 5%; */
    }

    #showcase article div p {
        font-size: 150%;
        font-weight: 200;
        width: 50%;
        color: white;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 50%;
        width: 100%;
    }
    
    header {
        background-color: rgb(58, 94, 213);
        width: 100%;
        margin-top: 0%;
        height: 5%;
    }

    #iconHolder {
        padding-top: 0.5%;
        padding-left: 1%;
        padding-right: 42%;
    }

    #logo {
        width: 100%;
        padding: 1%;
    }

    .links {
        margin-top: 0.6%;
        font-size: 150%;
        font-weight: 400;
        color: white;
    }

    #topPart {
        width: 100%;
        height: 25%;
    }

    #topPart img {
        opacity: 60%;
    }

    #topDesc {
        font-size: 400%;
        top: 8%;
        left: 8%;
        font-weight: 100;
    }

    #topSubhead {
        font-size: 200%;
        font-weight: 500;
        top: 18%;
        left: 17%;
    }

    #midSect {
        width: 95%;
        padding: 1%;
        padding-top: 2%;
    }

    #midSect h1 {
        font-size: 3em;
    }

    #midSect p {
        font-size: 2.5em;
        width: 95%;
        margin: auto;
    }

    #showcase {
        width: 95%;
        margin: auto;
        margin-top: 2.5%;
    }

    #showcase article {
        width: 80%;
        padding: 2%;
        background-color:  rgb(184, 52, 100);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #showcase article div {
        width: 95%;
        margin: auto;
        padding: 1%;
    }

    #showcase article div img {
        width: 40%;
    }

    #showcase article div p {
        font-size: 1.5em;
        width: 52%;
        margin: auto;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}