#merchBegin {
    width: 100%;
    height: 55%;
    margin: auto;
}

#merchBegin img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#merchBegin article {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 100%;
    text-shadow: 0.15em 0.15em rgba(0, 0, 0);
    line-height: 3.75em;
    text-transform: capitalize;
}

#merchBegin article h2 {
    font-size: 3em;
    font-weight: 750;
    color: rgb(184, 52, 100);
}

#merchBegin article h1 {
    font-size: 5em;
    font-weight: 900;
    color: rgb(12, 118, 94);
}

#merchTagline {
    margin-top: 15%;
    font-size: 1.15em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#merchTagline h1 {
    color: black;
}

#merchTagline h1 strong {
    color: dimgray;
}

#charity {
    width: 95%;
    padding: 1em;
    margin: auto;
    margin-top: 1.5%;
    background-color: rgb(250, 208, 95);
    border: 0.25em solid black;
    box-shadow: 0.2em 0.2em black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.5em;
}

#charity img {
    width: 35%;
}

#charity article {
    width: 50%;
    display: block;
    justify-content: center;
}

#charity article h5 {
    font-size: 1.75em;
    font-family: 'Oswald', sans-serif;
}

#charity article button {
    margin-top: 0.5em;
    margin-left: 1em;
    padding: 0.5em;
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    color: rgb(12, 118, 94);
    background-color: transparent;
    border: 0em solid black;
    transition-duration: 0.5s;
}

#charity article button:hover {
    background-color: black;
    color: white;
}

#merch {
    margin: auto;
    margin-top: 2em;
    width: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1.5em;
}

#merch article {
    background-color: rgb(70, 101, 206);
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em black;
    width: 30%;
    text-align: center;
    color: white;
    padding: 0.75em;
    align-content: center;
}

#merch article img {
    width: 70%;
}

#merch article div {
    width: 90%;
    margin: auto;
}

#merch article div h1 {
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    padding: 0.2em;
}

#merch article div h2 {
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    font-size: 0.75em;
    padding-bottom: 1em;
}

#merch article div p {
    text-align: left;
    font-family: 'Farsan', sans-serif;
    width: 85%;
    margin: auto;
    padding-bottom: 0.5em;
    font-weight: 700;
    font-size: 1.15em;
}

#merch article div ul {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 0.75em;
}

#merch article div h3 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0.25em;
}

#merch article div button {
    margin: 0.5em;
    font-size: 1.25em;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    padding: 0.5em;
    background-color: transparent;
    border: 0.15em solid transparent;
    box-shadow: 0.1em 0.1em transparent;
    color: white;
}

#merch article div button:hover {
    background-color: rgb(250, 208, 95);
    border: 0.15em solid black;
    box-shadow: 0.1em 0.1em black;
    color: black;
    transition-duration: 0.75s;
}

@media screen and (max-width: 950px) {
    #merchBegin {
        width: 90%;
    }

    #merchBegin article {
        margin-top: 2%;
        text-align: center;
        text-shadow: 0.2em 0.2em rgb(20, 9, 9);
        line-height: 3.5em;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        column-gap: 1.5em;
    }

    #merchBegin article h2 {
        font-size: 3.5em;
        font-weight: 700;
    }
    
    #merchBegin article h1 {
        font-size: 3.5em;
        font-weight: 900;
    }

    #merchTagline {
        width: 95%;
        margin: auto;
        margin-top: 10%;
        font-size: 1.2em;
    }

    #merch {
        width: 100%;
    }

    #merch article {
        width: 45%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #merch article img {
        width: 60%;
    }

    #merch article div {
        width: 40%;
    }

    #merch article div h1 {
        font-size: 1em;
    }

    #merch article div h2 {
        font-size: 0.75em;
    }

    #merch article div p {
        font-size: 0.6em;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    #merchBegin {
        width: 100%;
    }

    #merchBegin article {
        margin-top: 2%;
        text-align: center;
        text-shadow: 0.2em 0.2em rgb(20, 9, 9);
        line-height: 4.5em;

        display: block;
        justify-content: center;
    }

    #merchBegin article h2 {
        font-size: 3.5em;
        font-weight: 800;
    }
    
    #merchBegin article h1 {
        font-size: 5em;
        font-weight: 900;
    }

    #merchTagline {
        width: 90%;
        margin-top: 25%;
        font-size: 1.35em;
    }

    #merch {
        width: 95%;
        display: block;
    }

    #merch article {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
        justify-content: center;
    }

    #merch article img {
        width: 50%;
    }

    #merch article div {
        width: 40%;
    }    

    #merch article div h1 {
        font-size: 1.25em;
    }

    #merch article div h2 {
        margin-top: 0.5em;
        font-size: 1.1em;
    }

    #merch article div p {
        text-align: center;
        font-size: 1.5em;
        width: 110%;
    }

    #merch article div h3 {
        margin-top: 1em;
        font-size: 1.75em;
    }

    #merch article div button {
        font-size: 1.75em;
    }
}