/* Events Page Styling */

#topBanner {
    width: 100%;
    
    animation-name: appear;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#topBanner img {
    width: 100%;
    opacity: 75%;
}

#eventText {
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;
    color: rgb(50, 74, 154);
    font-family: 'Oswald', sans-serif;
    line-height: 700%;
}

#eventText h2 {
    font-size: 2em;
    font-weight: 600;
    text-shadow: 0.05em 0.05em black;
}

#eventText h1 {
    font-size: 15em;
    font-weight: 900;
    text-shadow: 0.025em 0.025em black;
}

#eventsIntro {
    margin: 1%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    padding-bottom: 1em;

    animation-name: appear;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#eventDisplay {
    width: 80%;
    margin: auto;
    border: 0.25em solid black;
    box-shadow: 0.5em 0.5em black;
    background-color: rgb(15, 246, 192);

    animation-name: appear;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#eventDisplay h1 {
    text-align: center;
    padding: 1em;
    font-family: 'Farsan', sans-serif;
    font-weight: 900;
    text-decoration: underline;
    font-size: 2em;
    color: rgb(184, 52, 100);
}

#eventDisplay article {
    width: 95%;
    margin: auto;
    margin-bottom: 2%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    column-gap: 0.5em;
    row-gap: 1em;
}

#eventDisplay article div {
    border: 0.25em solid black;
    box-shadow: 0.25em 0.25em black;
    background-color: rgb(250, 208, 95);
    width: 24%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#eventDisplay img {
    margin: 0.25em;
    width: 70%;
    border: 0.25em solid black;
    box-shadow: 0.125em 0.125em black;
}

#eventDisplay div section {
    width: 90%;
}

#eventDisplay div section h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 1.25em;
    text-decoration: underline;
    width: 95%;
    margin: auto;
    padding-bottom: 0.5em;
    text-align: center;
    color: rgb(50, 74, 154);
}

#eventDisplay div section p {
    font-family: 'Farsan', sans-serif;
    font-weight: 600;
    font-size: 1em;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 0.25em;
}

/* Media Queries */

@media screen and (max-width: 950px) {
    #topBanner {
        animation-name: appear;
        animation-duration: 0.5s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    #topBanner img {
        opacity: 80%;
    }

    #eventText {
        left: 25%;
        line-height: 7.5em;
    }

    #eventText h2 {
        font-size: 2.5em;
    }

    #eventText h1{
        font-size: 15em;
    }

    #eventsIntro {
        animation-name: appear;
        animation-duration: 0.5s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    #eventsIntro p {
        font-size: 1.25em;
        margin-bottom: 1em;
    }

    #eventDisplay { 
        width: 90%;

        animation-name: appear;
        animation-duration: 0.5s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    #eventDisplay h1 {
        font-size: 2.5em;
    }

    #eventDisplay article {
        width: 90%;
        row-gap: 1.75em;
        column-gap: 1em;
    }

    #eventDisplay article div {
        width: 47%;
        background-color: rgb(12, 118, 94);
        flex-direction: row;
    }

    #eventDisplay article div img {
        width: 37%;
        margin: 1em;
    }

    #eventDisplay article div section {
        margin: 1em;
        width: 50%;
    }

    #eventDisplay article div section h3 {
        color: rgb(184, 52, 100);
        text-shadow: 0.1em 0.1em black;
        font-size: 1.25em;
    }

    #eventDisplay article div section p {
        width: 90%;
        color: white;
        font-size: 1em;
        font-weight: 400;
    }
}

@media screen and (max-width: 500px) {
    #topBanner {
        animation-name: appear;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    #topBanner img {
        opacity: 65%;
    }

    #eventsIntro {
        animation-name: appear;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    #eventsIntro p{
        font-size: 1em;
    }

    #eventText {
        top: 5%;
        left: 25%;
        line-height: 6.5em;
    }

    #eventText h2 {
        font-size: 2.25em;
        font-weight: 800;
    }

    #eventText h1{
        font-size: 12em;
    }

    #eventDisplay {
        width: 90%;

        animation-name: appear;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    #eventDisplay article {
        width: 99%;
    }

    #eventDisplay article div {
        width: 47%;
        background-color: rgb(50, 74, 154);
        flex-direction: column;
    }

    #eventDisplay article div section {
        width: 90%;
    }

    #eventDisplay article div img {
        width: 75%;
        box-shadow: 0.2em 0.2em black;
    }

    #eventDisplay article div section h3 {
        font-size: 2.25em;
    }

    #eventDisplay article div section p {
        font-size: 1.5em;
    }
}