/* Gallery Styling */

#galleryIntro {
    height: 25%;
    width: 100%;
}

#galleryIntro img {
    height: 100%;
    width: 100%;
    opacity: 70%;
    object-fit: cover;
    object-position: center 70%;
    box-shadow: 0em 0.5em black;
}

#galleryIntro section {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: capitalize;
    line-height: 4.5em;
    text-shadow: 0.15em 0.15em black;

    position: absolute;
    top: 17%;
    left: 30%;
}

#galleryIntro section h3 {
    color: rgb(91, 118, 209);
    font-size: 2em;
}

#galleryIntro section h1 {
    color: rgb(26, 216, 172);
    font-size: 7em;
}

#galleryText {
    padding: 1em;
    width: 95%;
    text-align: center;
    margin: auto;
    margin-top: 1%;
}

#galleryText h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: rgb(184, 52, 100);
    text-shadow: 0.05em 0.05em black;
}

#galleryText p {
    font-family: 'Farsan', sans-serif;
    font-size: 1.5em;
    width: 80%;
    margin: auto;
    margin-top: 0.5em;
    font-weight: 600;
}

#galleryForm {
    width: 95%;
    margin: auto;
    margin-top: 1%;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(241, 241, 241);
    border: 0.1em solid black;
    padding: 1em;
    padding-bottom: 3em;
    box-shadow: 0.25em 0.25em 0.5em black;
    text-transform: capitalize;
}

#galleryForm h1{
    text-align: center;
    margin-bottom: 1em;
}

#imageSubmit {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 3em;
}

#galleryForm h3 {
    margin-left: 5em;
    font-weight: 100;
}

#galleryForm input {
    margin-left: 7.1em;
    margin-top: 0.25em;
    margin-bottom: 2em;
}

#subTitle {
    width: 40%;
    height: 5%;
}

#subN {
    width: 25%;
}

#subDesc {
    width: 70%;
    height: 20%;
}

#gallerySub {
    margin-top: 3%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2%;
}

#gallery {
    width: 95%;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1.5em;
}

#gallery article {
    width: 20%;
    background-color: white;
    border: 0.25em solid black;
    box-shadow: 0.25em 0.25em black;
    text-align: center;
    padding: 0.5em;

    display: block;
    justify-content: center;
    align-content: center;
}

#gallery img {
    width: 70%;
    margin: 0.75em;
    border: 0.25em solid black;
    box-shadow: 0.2em 0.2em black;
}

#gallery article div {
    padding: 0.5em;
}

#gallery div h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    font-weight: 900;
    text-transform: capitalize;
    color: rgb(12, 118, 94);
}

#gallery div p {
    font-family: 'Farsan', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: rgb(184, 52, 100);
    width: 90%;
    margin: auto;
    padding: 0.25em;
}

/* Media Queries */

@media screen and (max-width: 950px) {
    #galleryIntro img {
        opacity: 65%;
        object-position: center 60%;
    }

    #galleryIntro section {
        top: 12%;
        left: 25%;
        text-shadow: 0.15em 0.15em ghostwhite;
        line-height: 6em;
    }

    #galleryIntro section h3 {
        color: rgb(50, 74, 154);
        font-size: 3em;
    }

    #galleryIntro section h1 {
        color: rgb(12, 118, 94);
        font-size: 10em;
    }

    #galleryText h1 {
        font-size: 3em;
    }

    #galleryText p {
        font-size: 2em;
        width: 95%;
    }

    #galleryForm input {
        margin-left: 8.5%;
        margin-top: 0.25em;
        margin-bottom: 1.5em;
    }

    #gallery {
        width: 100%;
    }

    #gallery article {
        width: 30%;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #gallery article img {
        width: 40%;
    }

    #gallery article div {
        width: 50%;
    }

    #gallery article div h2, p {
        width: 100%;
    }

    #gallery article div h2 {
        font-size: 1em;
    }

    #gallery article div p {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 500px) {
    #galleryIntro {
        height: 10%;
    }

    #galleryIntro img {
        opacity: 55%;
        object-position: center 60%;
    }

    #galleryIntro section {
        top: 3.75%;
        left: 30%;
        text-shadow: 0.15em 0.15em black;
        line-height: 4em;
    }

    #galleryIntro section h3 {
        color: rgb(50, 74, 154);
        font-size: 1.75em;
    }

    #galleryIntro section h1 {
        color: rgb(12, 118, 94);
        font-size: 5em;
    }

    #galleryText {
        width: 90%;
    }

    #galleryText h1 {
        font-size: 3em;
    }

    #galleryText p {
        font-size: 2.5em;
        font-weight: 700;
    }

    #galleryForm {
        width: 90%;
    }

    #galleryForm h1 {
        font-size: 2em;
        margin-bottom: 1.5%;
    }

    #imageSubmit {
        margin-top: 1%;
        width: 100%;
        flex-wrap: nowrap;
    }

    #galleryForm #imageSubmit h3 {
        font-size: 1.5em;
        font-weight: 300;
        width: 40%;
    }

    #imageSubmit input {
        scale: 0.75;
        margin-top: 5%;
    }

    #galleryForm h3 {
        font-size: 1.5em;
        margin-left: 2em;
    }

    #galleryForm input {
        margin-left: 7%;
        margin-bottom: 2em;
    }

    #subTitle {
        width: 50%;
    }

    #subN {
        width: 35%;
    }

    #subDesc {
        width: 80%;
    }

    #gallery {
        width: 99%;
        column-gap: 2em;
    }

    #gallery article {
        width: 45%;
        border: 0.5em solid black;
        box-shadow: 0.5em 0.5em black;

        display: block;
    }

    #gallery article img {
        width: 70%;
    }

    #gallery article div {
        margin: auto;
        width: 95%;
    }

    #gallery article div h2 {
        font-size: 2em;
    }

    #gallery article div p {
        font-size: 1.75em;
    }
}